
@import 'modules/loginPage.scss';
@import 'modules/_message.scss';
@import 'modules/_members.scss';

body{
	font-family: sans-serif;
}

#app{
	min-height: 100vh;
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: flex-end;
}